body {
    background-color:black;
    font-family: arial;
    color: white;
}
h1{
    color:black;
    font: verdana;
    text-align: center;
}
.maindiv {
    background-color: white;
    color: black;
    width: 300px;
    padding: 20px;
    border-radius: 25px;
    text-align: left;
}
p {
    display: inline-block;
}
#rate {
    margin-left: 10px;
}
button {
    margin-left: 45%;
}
